<!--<div class="post-body">
    {% if post.body_html %}
        {{ post.body_html | safe }}
    {% else %}
        {{ post.body }}
    {% endif %}
</div>-->
<ul class="posts">
    {% for post in posts %}
    <li class="post">
        <p class="post-title"><a href="{{ url_for('.post', id=post.id) }}">{{ post.title }}</a></p>
        <div class="post-content">
        {% if post.body_html %}
            {{ post.body_html | safe }}
        {% else %}
            {{ post.body }}
        {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>