<!--<div class="post-body">
    {% if post.body_html %}
        {{ post.body_html | safe }}
    {% else %}
        {{ post.body }}
    {% endif %}
</div>-->
<ul class="posts">
    {% for post in posts %}
    <li class="post">       
        <p class="post-title"><a href="{{ url_for('.post', id=post.id) }}">{{ post.title }}</a></p>
        {% if post.author.avatar %}
            <img class = "img-rounded profile-thumbnail" src = "{{ post.author.avatar }}">
        {% else %}
            <img class = "img-rounded profile-thumbnail" src = "/static/avatar/default.jpg">
        <div class="post-content">
        {% endif %}
        {% if post.body_html %}
            {{ post.body_html | safe }}
        {% else %}
            {{ post.body }}
        {% endif %}
        </div>
        <a href="{{ url_for('.post', id=post.id) }}#评论">
            <span class="label label-primary">
                {{ post.comments.count() }} 评论
            </span>
        </a>
    </li>
    {% endfor %}
</ul>