{% extends 'base.html' %}

{% block title %}详情-{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
{% endblock %}

{% block main %}
  <body>
    <div id="main">
        <h3 class="page-title"  style="text-align:center;">{{ post.title }}</h3>
        <p class="post-info"  style="text-align:center;">
            <span>作者：{{ post.author.username }}</span>
            <span>时间：{{ post.create_time }}</span>
        </p>
        <hr>
        <p>
            {% if post.body_html %}
                {{ post.body_html | safe }}
            {% else %}
                {{ post.body }}
            {% endif %}
        </p>
        <hr>
      <div class="post-footer">
        {% if current_user == post.author %}
        <a href="{{ url_for('.edit', id=post.id) }}">
            <span class="label label-primary">修改文章</span>
        </a>
        {% elif current_user.is_administrator %}
        <a href="{{ url_for('.edit', id=post.id) }}">
            <span class="label label-danger">修改文章 [Admin]</span>
        </a>
        {% endif %}
      </div>

      <div>
          <a href="{{ url_for('main.comment', post_id=post.id) }}" class="create_topic_btn">
              <span class="span-success">添加回复</span>
          </a>
      </div>

      <div class="comments">
          <h4>回复：{{ comments | count }}</h4>
          {% for c in comments %}
            <div class='cell reply_area reply_item'>
                <div class='author_content'>
                    <div class='user_info'>
                        <a class='dark reply_author'>
                            {{ c.author.username }}
                        </a>
                        <a class="reply_time">
                            {{ loop.index }}楼 •  天前
                        </a>
                    </div>
                    <div class='user_action'>
                        <span>
                            <i class="fa up_btnfa-thumbs-o-upinvisible" title="喜欢"></i>
                            <span class="up-count"></span>
                        </span>
                    </div>
                </div>
                <div class='reply_content from-leiwei1991'>
                    <div class="markdown-text">
                        {{ c.body }}
                    </div>
                </div>
            </div>
            {% endfor %}
      </div>
  </div>
  </body>    
{% endblock %}