{% extends 'base.html' %}

{% block title %} Zproject - 修改文章{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>修改文章</h1>
</div>
<div>
    {% from "_formhelpers.html" import render_field %}
    <form method=post  style="height:100px;">
    <dl>
      {{ render_field(form.title) }}
      {{ render_field(form.body) }}
    </dl>
    <p><input type=submit value=确认修改>
    </form>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}