{% extends 'base.html '%}

{% block title %}首页{% endblock %}

{% block content %}{% endblock %}

{% block main %}
<div style="width:100%;text-align:center">
    <h3 class="page-title">登录</h3>
    {% from "_formhelpers.html" import render_field %}
    <form method=post>
    <dl>
      {{ render_field(form.username) }}
      {{ render_field(form.password) }}
    </dl>
  <p><input type=submit value= 登录></p>
</form>
    <p>
        新用户?
        <a href="{{ url_for('register') }}">
            请点击这里注册
        </a>
    </p>
{% endblock %} 