{% extends 'base.html' %}

{% block title %}用户{% endblock %}

{% block page_content %}
<div class="page-header">
    {% if current_user.avatar %}
        <img class = "img-rounded profile-thumbnail" width = "200" height = "200" src = "{{ user.avatar }}">
    {% else %}
        <img class = "img-rounded profile-thumbnail" width = "200" height = "200" src = "/static/avatar/default.jpg">
    {% endif %}
    <h1>{{ user.username }}</h1>
    {% if user == current_user %}
    <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">
        修改个人资料
    </a>
    {% endif %}
    {% if user == current_user %}
        <p>姓名：{{ user.name }}</p>
        <p>地址：{{ user.location }}</p>
        <p>自我介绍：{{ user.about_me }}</p>
        <p>电话：{{ user.telephone }}</p>
    {% endif %}
</div>
{% endblock %}